ul{
    font-weight: 700;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2{
    color: white;
    background-color: darkgreen;
}

ol{
    font-style: italic;
}